<div class="component-loader" (errorCallback)="getData()" [errorMessage]="Error"
  component-loader [componentError]="loadingError" [componentLoading]="loading">

  <div class="container pt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="part-title">
                <span>Lorem, ipsum</span>
                <span></span>
              </div>
            <app-slide-show-items [owlSlide]="owlSlideTwo"></app-slide-show-items>
        </div>
        <div class="col-lg-6">
            <div class="part-title">
                <span>Lorem, ipsum</span>
                <span></span>
              </div>
            <app-slide-show-items [owlSlide]="owlSlideTwo"></app-slide-show-items>
        </div>
    </div>
    <app-items-for-you [items]="allItem"></app-items-for-you>

</div>
</div>
