<footer>
    <div class="container">
     <div class="row">
         <div class="col-lg-3">
             <h3>Customer Services</h3>
             <ul class="list-unstyled my-0">
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
             </ul>
         </div>
         <div class="col-lg-3">
             <h3>Customer Services</h3>
             <ul class="list-unstyled my-0">
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
             </ul>
         </div>
         <div class="col-lg-3">
             <h3>Customer Services</h3>
             <ul class="list-unstyled my-0">
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
             </ul>
         </div>
         <div class="col-lg-3">
             <h3>Customer Services</h3>
             <ul class="list-unstyled my-0">
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
                 <li><a href="#">Help Center</a></li>
             </ul>
         </div>
     </div>
    </div>
 </footer>