<div>
    <section class="top-nav">
        <div class="logo">
          <a routerLink="/">
            <img src="../../../assets/images/logo.png" />
          </a>
        </div>
        <div class="form-top-nav">
          <form>
            <div>
            
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="product-one">Products</a>
                  <a class="dropdown-item" routerLink="#">Suppliers</a>
                </div>
              </div> -->
            </div>
            <input type="text" placeholder="what are you looking for..."  #input/>
            <a routerLink="/search-item" type="submit" class="search-btn"  (click)="getValueInput(input)">
              <i class="fas fa-search"></i> search
            </a>
          </form>
        </div>
        <div class="user-part">
         <a class="user-info-link">
          <div class="user-info">
            <i class="fas fa-user"></i>
            <span>
              <a routerLink="/sign-in" class="sign-in">Sign in</a>
              <a routerLink="/sign-up" class="sign-up">Sign up</a>
            </span>
          </div>
         </a>
          <a routerLink="/cart-page">
            <div class="user-cart">
              <!-- <i class="fas fa-cart-plus"></i> -->
                <mat-icon class="icon" [matBadge]="numberItem" matBadgeColor="warn" matBadgeSize="medium">shopping_cart</mat-icon>
              <a routerLink="/cart-page">Cart</a>
            </div>
          </a>
        </div>
      </section>
      
      <!-- <section class="main-nav"> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/categore-one" class="nav-link categore">
                  <i class="fas fa-list-ul"></i>Categories<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="list-unstyled sub-menu main-catego">
                    <li><a routerLink="/categore-one" class="active-link">Categore One</a></li>
                    <li><a routerLink="/categore-two">Categore Two</a></li>
                    <li><a routerLink="/categore-three">Categore Three</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/page-one">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/page-two">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/page-three">Features</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/items"
                  >items<i class="fas fa-angle-down"></i
                ></a>
                <ul class="list-unstyled sub-menu">
                  <li><a routerLink="/item-one" class="active-link">item One</a></li>
                  <li><a routerLink="/item-two">item Two</a></li>
                  <li><a routerLink="/item-three">item Three</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/products"
                  >products<i class="fas fa-angle-down"></i
                ></a>
                <ul class="list-unstyled sub-menu">
                  <li><a routerLink="/product-one" class="active-link">product One</a></li>
                  <li><a routerLink="/product-two">product Two</a></li>
                  <li><a routerLink="/product-three">product Three</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#"
                  >Pricing<i class="fas fa-angle-down"></i
                ></a>
                <ul class="list-unstyled sub-menu">
                  <li><a routerLink="/home-one" class="active-link">Home One</a></li>
                  <li><a routerLink="/home-two">Home Two</a></li>
                  <li><a routerLink="/#">Home Three</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
          <!-- <ul class="list-unstyled user-lang my-0">
            <li>
              <a href="#">Get The App</a>
            </li>
            <li><a href="#">English-USD</a></li>
          </ul> -->
        </nav>
      <!-- </section> -->

  </div>