form{
    width: 80%;
    margin: auto;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons a{
    display: block;
    background: #057afc;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}