.part-title {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .part-title span:first-child {
    font-size: 20px;
    font-weight: 900;
    display: block;
    width: 30%;
  }
  .part-title span:last-child {
    position: absolute;
    width: 70%;
    height: 7px;
    background: #dcdee3;
    right: 0;
    border-radius: 7px;
  }
  .item-look {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    border-radius: 10px;
  }
  .item-look:hover .item-look-desc a {
    text-decoration: underline !important;
  }
  .item-look .item-look-img,
  .item-look .item-look-img img {
    border-radius: 10px 10px 0 0;
  }
  .item-look-desc {
    padding: 10px;
  }
  .item-look-desc a {
    color: #333;
  }
  .item-look-desc h6 {
    font-weight: bolder;
    font-size: 19px;
  }
  .item-look-desc h6 span {
    color: #777;
    font-size: 17px;
    font-weight: 500;
  }
  .item-look-desc p {
    color: #777;
    font-size: 15px;
  }
  
  .buttons-controls {
    margin: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-number button {
    color: #fff;
    background: #2199e8;
    border: none;
    outline: none;
    padding: 4px 9px;
  }
  
  .item-number input {
    padding: 5px;
    width: 45px;
    border: none;
    outline: none;
    text-align: center;
  }
  
  ::ng-deep .ngx-pagination {
    padding-left: 0;
  }
  ::ng-deep .buttons-controls pagination-controls ul {
    margin-bottom: 0;
  }
  
  
  /********************************** media ********************/
  @media(max-width:425px){
    .buttons-controls{
      display: block;
      text-align: center;
    }
    .buttons-controls .item-number{
      margin-top: 15px;
    }
  }
  /********************************** media ********************/