<div class="part-title">
    <span>Lorem, ipsum dolor.</span>
    <span></span>
  </div>
  
  <div class="items-for-you">
    <div class="row">
      <div class="col-lg-3 col-sm-6" *ngFor="let item of items |paginate: { itemsPerPage: itemsPerPage, currentPage: currenpg }">
        <div class="item-look">
          <div class="item-look-img">
            <a routerLink="/view-product-details/10">
              <img src="{{ item.img }}" class="img-fluid" />
            </a>
          </div>
          <div class="item-look-desc">
            <a routerLink="/view-product-details/10">{{ item.link }}</a>
            <h6>
              {{ item.priceFrom }} - {{ item.priceTo }} /
              <span>{{ item.type }}</span>
            </h6>
            <p>{{ item.quant }} {{ item.type }} (MIN.Order)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-controls">
      <pagination-controls (pageChange)="currenpg = $event"></pagination-controls>
      <div class="item-number">
        <button (click)="dec()"><i class="fas fa-minus"></i></button>
        <input type="text" [value]="itemsPerPage" disabled>
        <button (click)="inc()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
  