h4 {
    font-size: 30px;
    background: #fff;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 10px;
  }
  
  .slide {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
  }
  .slide .product-img {
    height: 400px;
    border-radius: 10px;
  
  }
  .slide .product-img img {
    height: 100%;
    border-radius: 10px;
  }
  