.news-par {
  height: 40px;
  background: #9dad7f;
  position: relative;
  line-height: 40px;
  padding: 0px 10px;
  overflow: hidden;
}

.news-par p {
  margin: 0;
  position: absolute;
  transform: translateX(150%);
  animation: news 20s linear infinite;
}

@keyframes news {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}
