.part-title {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .part-title span:first-child {
    font-size: 20px;
    font-weight: 900;
    width: 30%;
  }
  .part-title span:last-child {
    position: absolute;
    width: 70%;
    height: 7px;
    background: #dcdee3;
    right: 0;
    border-radius: 7px;
  }