<div class="part-title">
  <span>Lorem, ipsum dolor.</span>
  <span></span>
</div>
<div class="part-items mb-5" *ngFor="let item of partItems">
  <div class="panar-item">
    <img src="{{ item.mainImg }}" class="w-100 h-100" />
    <h5>{{ item.mainHead }}</h5>
    <a href="#">Sourse Now</a>
  </div>
  <a routerLink="/view-product-details/10" class="verified-link">
    <div class="verified-item">
      <h5>{{ item.verHead }}</h5>
      <p>{{ item.verPara }}</p>
      <span><i class="fas fa-check"></i>erified</span>
      <img src="{{ item.verImg }}" />
    </div>
  </a>

  <div class="item">
    <a routerLink="/view-product-details/10">
      <div>
        <h5>{{ item.itemHead }}</h5>
        <p>{{ item.itemPara }}</p>
        <img src="{{ item.itemOneImg }}" />
      </div>
    </a>
    <a routerLink="/view-product-details/10">
      <div>
        <h5>{{ item.itemHead }}</h5>
        <p>{{ item.itemPara }}</p>
        <img src="{{ item.itemTwoImg }}" />
      </div>
    </a>
  </div>
  <div class="item">
    <a routerLink="/view-product-details/10">
      <div>
        <h5>{{ item.itemHead }}</h5>
        <img src="{{ item.itemThreeImg }}" />
      </div>
    </a>
    <a routerLink="/view-product-details/10">
      <div>
        <h5>{{ item.itemHead }}</h5>
        <img src="{{ item.itemFourImg }}" />
      </div>
    </a>
  </div>
</div>
